{% extends "base.html" %}

{% block content %}
<title>Мои проекты</title>
<div class="container">

    <div class="text-center mt-5">
        <h2 class="mb-4"> Список назначенных мне задач в проекте "{{project_name[0]}}" </h2>
        <h1>  </h1>
        {% if user_tasks %}
             {% for user_task in user_tasks %}
                <a href="{{ url_for('check_task', task_id = user_task[1]) }}" class="btn btn-info btn-lg me-2 mb-2"> {{ user_task[0] }}  </a>
             {% endfor %}
        {% else %}
            <h4> У Вас нет задач в этом проекте </h4>
        {% endif %}
    </div>
    <div class="container text text-center">
        <a href="{{ url_for('check_user_project', project_id=project_id)}}" class="btn btn-success btn-lg mt-3"> Вернуться к проекту </a>
    </div>
</div>
{% endblock %}