{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4">Задача "{{task[0]}}"</h3>

    <h6 class="mb-4">Проект "{{task[5]}}"</h6>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <dl class="row">

                        <dt class="col-sm-4">Дедлайн:</dt>
                        <dd class="col-sm-8">{{ task[1] }}</dd>

                        <dt class="col-sm-4">Приоритет:</dt>
                        <dd class="col-sm-8">{{ task[2] }}</dd>

                        <dt class="col-sm-4">Статус:</dt>
                        <dd class="col-sm-8">{{ task[3] }}</dd>

                        <dt class="col-sm-4">Исполнитель:</dt>
                        <dd class="col-sm-8">{{ executor[0] }}</dd>

                        <dt class="col-sm-4">Создатель:</dt>
                        <dd class="col-sm-8">{{ owner[0] }}</dd>

                        <dt class="col-sm-4">Описание:</dt>
                        <dd class="col-sm-8">{{ task[4] }}</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="d-grid gap-2">
                <a href="{{ url_for('edit_task', task_id = task[6]) }}" class="btn btn-warning btn-lg"> Редактировать задачу </a>
                <a href="{{ url_for('history_task', task_id = task[6]) }}" class="btn btn-primary btn-lg"> Последнее изменение задачи </a>
                <a href="{{ url_for('check_user_project', project_id=task[7]) }}" class="btn btn-success btn-lg"> Вернуться к проекту </a>
                <a href="{{ url_for('delete_task', task_id = task[6]) }}" class="btn btn-danger btn-lg"> Удалить задачу</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}