{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card mt-3">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Удаление проекта</h1>

                    <form method="POST" action="">
                        {{ form.hidden_tag() }}

                        <div class="text text-center"> <h6> ВЫ УВЕРЕНЫ, ЧТО ХОТИТЕ УДАЛИТЬ ПРОЕКТ?
                                    ВСЕ ЗАДАЧИ ПРОЕКТА БУДУТ УДАЛЕНЫ АВТОМАТИЧЕСКИ </h6> </div>

                        <div class="d-grid gap-2">
                            <a href="{{url_for('check_user_project', project_id=project_id)}}" class="btn btn btn-success btn-lg mb-3"> Вернуться </a>
                        </div>

                        <div class="text text-center"> <h6> ОТМЕНИТЬ ЭТО ДЕЙСТВИЕ БУДЕТ НЕВОЗМОЖНО </h6> </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger btn-lg"> Удалить проект </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}