{% extends "base.html" %}


{% block content %}

<div class="container">

    <div class="text-center mt-5">
        <h1 class="mb-4"> Трекер-задач от DeeMassG</h1>
        <h1> Добро пожаловать на главную страницу!🗒 </h1>

            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg me-2"> Войти </a>
            <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg"> Зарегистрироваться </a>



    </div>

</div>


<div class="container-md">
    <div class="text-center mt-5">
        <h5>Наше приложение помогает управлять задачами, систематизировать идеи и мысли.
                Оно избавляет пользователей от страха что-то забыть или не успеть, обеспечивая надёжное хранение всей информации.
                Задачи удобно организовывать, распределяя их по тематическим папкам — проектам.
                Благодаря этому можно перестать держать дела в голове и сконцентрироваться на текущей работе.
                К отложенным заметкам и планам легко вернуться в любой момент, а веб-доступ позволяет делать это с любого устройства.</h5>
    </div>
</div>


{% endblock %}
