{% extends "base.html" %}

{% block content %}
<title>Задачи</title>
<div class="container">

    <div class="text-center mt-5">
        <h2 class="mb-4"> Все задачи в проекте "{{project_name[0]}}" </h2>

             <p> Подсказка: нажмите на название задачи, чтобы перейти к её описанию </p>
             {% if user_tasks %}
                {% for user_task in user_tasks %}
                    <a href="{{ url_for('check_task', task_id = user_task[1]) }}" class="btn btn-info btn-lg me-2 mb-2"> {{ user_task[0] }}  </a>
                {% endfor %}
             {% else %}
                <h4> В этом проекте пока нет задач </h4>
             {% endif %}
    </div>
    <div class="container text text-center">
        <a href="{{ url_for('check_user_project', project_id=project_id)}}" class="btn btn-success btn-lg mt-3"> Вернуться к проекту </a>
    </div>

</div>
{% endblock %}